.bg-black {
    background-color: #252129;
}
.list-group-bg {
   background-color : transparent !important;
   }
 .fa-brands.fa-facebook.fa-2x:hover {
    /*--bs-text-opacity:1;*/
     color: blue !important;
}
.fa-brands.fa-instagram.fa-2x:hover {
     color: blue !important;
}
.fa-brands.fa-github.fa-2x:hover {
     color: blue !important;
}
.fa-solid.fa-user-lock.fa-2x:hover{
    color: blue !important;
}
.footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100;
        background-color: black;
        text-align: center;
        color: white;
        }
.login{
    height: 75;
}
.link {
    text-decoration: none;
    color: #000000;
}
 nav.vertical{
    float: left;
    margin-left: 0,5rem;
    margin-top: 1.5rem;
} 

li.vertical{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    margin-bottom: 0;
    font-size: 1.5rem;
}
a.a :hover{
    text-decoration: none;
    color: #000000;
}
li.vertical-list-group.item{
    justify-content: center;
    display: flex;
}










   






     

















































































































